#header img {
    width: 40px;
    height: 60px;
}

#header {
    background: #072168 !important;
}

#main .carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    opacity: 0.7;
}

#carrusel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

body {
    background-color: aliceblue;
}

#ponentes p {
    color: black;
}

#ponentes img {
    width: 200px;
    height: auto;
}

#lugar-fecha img {
    max-width: 100%;
}

#lugar-fecha {
    background-color: #2E53B7 ;
    color: white;
}

#footer {
    background-color: #1039A8;
    
}

footer a, p{
    color: lightgray;
}